<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타임리프 텍스트 출력</title>
</head>

<script>
function fn_delete(){
	let f = document.frm;
	f.deptnm.value = "";
	f.depttm.value = "";
	f.submit();
}
</script>

<body>

	<form name="frm" method="post" action="/dept2">

		부서이름 <input type="text" name="deptno" th:value="${dto.deptno}"><br>
		부서이름 <input type="text" name="deptnm" th:value="${dto.deptnm}"><br>
		소속팀명 <input type="text" name="depttm" th:value="${dto.depttm}"><br>
		
		<button type="submit">수정</button>
		<button type="button" onClick="fn_delete()">삭제</button>

	</form>
	
</body>
</html>